@charset "utf-8";
/* CSS Document */

/* Hero Section */
.heroHeader {
	color: #321321;
	text-align: left;
	margin-left: 20%;
	letter-spacing: 4px;
	width: 30%;
}
.hero {
	padding-top: 10px;
	padding-bottom: 50px;
	padding-right: 20px;
	width: 100%;
	vertical-align: middle;
}

/* About Section */
.aboutFormat {
	width: 100%;
	height: auto;
	vertical-align: text-top;
}

/* Project Section */
.projFormat {
	color: #000000;
	height: auto;
	vertical-align: text-top;
	text-align: center;
}

/* Images*/
.banner {
	width: 70%;
	height: 70%;
	/*max-width: 200px;
	max-height: 400px;*/
	margin: auto;
	display: block;
}